.header {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 430px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e6e6e6;
}

.home {
  background-color: rgba(0, 149, 255, 0.291);
  height: 1000px;
}

button {
  border: none;
  background-color: white;
  
 
}

.image-logo {
  margin-top: 25px;
  height: 200px;
  width: 100%;
}
