.contact {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: left;
}

.contact .container {
    width: 80%;
    margin: auto;
}

.contact .main {
    display: flex;
    justify-content: space-between;
}

.contact-box {
    display: flex;
    border-radius: 20%;
    width: 60%;
}

.contact-left {
    background-color: rgb(20,108,138);
    padding: 40px 60px;
    width: 100%;
}   

.contact p {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
}

input {
    width: 97%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

label {
    margin-bottom: 6px;
    display: block;
    color: white;
}

.contact button {
    color: black;
    background-color: white;
    width: 110px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    display: block;
    transition: .4s;
}

.contact button:hover {
    transform: scale(1.09)
}


.contact-left h3 {
   margin-bottom: 40px;
   color: white;
}

.contact-right h3 {
    margin-bottom: 40px;
    color: white;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
    text-align: left;
    color: white;
}

.contact-info {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-info h4 {
    font-size: 20px;
}

.contact .option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact i {
    font-size: 40px;
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.4);
}

@media(width <= 1000px) {
    .contact .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
    }

    .contact-info h4 {
        font-size: 16px;
    }

    .contact-info i {
        font-size: 34px;
    }

    .contact-info .option1 {
        margin-top: 30px;
    }

    .contact-box {
        width: 100%;
    }
}

@media(width <= 725px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 40px 0;
        padding-top: 15px;
    }

    .contact-info .option1 {
        margin: 0;
    }
}
