.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255, 255);
    height: 80px;
}

.logo-img {
    width: 220px;
    margin-top: 5px
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-weight: 500;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0,171,214,255);
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1031;
    background-color: whitesmoke;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    transition: all 600ms;
    transition-delay: 100ms;
    
}

.fa-bars,
.fa-x {
    font-size: 26px;
    color: black;
    cursor: pointer;
}

.fa-bars {
    display: none !important;
    margin-right: 12px;
}

.fa-x {
    margin: 10px 0 10px 12px;
}


@media(width <= 800px) {
    .hide-top-bar {
        display: none !important;
    }
    .fa-bars {
        display: block !important;
    }
}

@media(width <= 400px) {
    .sidebar {
        width: 100%;
    }
}




