.services {
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: lightgrey;
}

.services-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: repeat(2, 450px);
    grid-auto-rows: 450px;
    gap: 20px;
}

.service-1 {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    background-color: aqua;
}

.service-2 {
    background-color: palegoldenrod
}

.service-3 {
    background-color:blueviolet;
}

.service-4 {
    background-color: greenyellow;
}

.services p {
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}

.services-column {
    background-color: rgb(0,171,214,255);
    /*background-color: rgb(20,108,138);
    */
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: 0px 10px;
    transition: 0.5s;
}

.services-column:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}